.navigation-cart {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  justify-content: flex-end;
}

/*.parent{
  .child{

  }
}

.childA, .childB {

}

.childA {
  composes parentA from foo.css
}

.childb {
  composes parentb from foo.css
}*/